/** @format */

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  background-color: hsl(210, 46%, 95%);
  font-family: "Manrope";
}

.image2 {
  width: 280px;
  height: 275px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.container {
  display: flex;
  background-color: white;
  border-radius: 10px;
  height: 275px;
  box-shadow: 5px 5px 25px hsl(212, 23%, 69%);
}

.img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-top: 20px;
}
.imagemobile {
  display: none;
}

.share2 {
  display: none;
}

.container2 {
  margin-left: 30px;
  margin-top: 10px;
  padding: 20px;
  margin-left: 10px;
}

.shift {
  width: 300px;
  font-weight: 700;
  color: hsl(217, 19%, 35%);
}

.ever {
  width: 290px;
  font-size: 10.5px;
  color: hsl(214, 17%, 51%);
  font-weight: 500;
  line-height: 1.6;
}

.michelle-share {
  display: flex;
  margin-top: 20px;
}

.michelle {
  margin-top: 22px;
  margin-left: 15px;
  color: hsl(217, 19%, 35%);
  font-size: 13px;
  font-weight: 700;
}

.june {
  font-size: 10.5px;
  color: hsl(212, 23%, 69%);
  font-weight: 500;
}

.share {
  position: relative;
  left: 75px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: hsl(210, 46%, 95%);
}

.share-container {
  width: 165px;
  position: relative;
  padding: 10px;
  left: 175px;
  margin-top: -132px;
  border-radius: 7px;
  gap: 15px;
  visibility: hidden;
  letter-spacing: 2px;
  color: hsl(214, 17%, 51%);
  display: flex;
  font-size: 12px;
  background-color: hsl(217, 19%, 35%);
  box-shadow: 5px 5px 25px hsl(210, 46%, 95%);
}

.triangle {
  position: absolute;
  width: 13px;
  height: 20px;
  /* border: 1px solid green; */
  background-color: hsl(217, 19%, 35%);
  transform: rotate(45deg);
  top: 32px;
  left: 85px;
  border-left: none;
  border-top: none;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 325px;
    flex-direction: column;
    height: 480px;
  }

  .image2 {
    display: none;
  }

  .imagemobile {
    width: 325px;
    height: 200px;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .shift {
    width: 255px;
  }

  .ever {
    width: 258px;
    font-size: 13px;
  }
  .share-container {
    position: relative;
    width: 305px;
    height: 31px;
    display: flex;
    align-items: center;
    left: -30px;
    top: 90px;
    border-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .label {
    margin-left: 25px;
  }

  .share2 {
    position: relative;
    left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: hsl(212, 23%, 69%);
  }

  .triangle {
    display: none;
  }

  .michelle-share {
    margin-top: -20px;
  }
}
